aws_region                           = "ap-southeast-1"
aws_profile                          = "default"
s3_bucket_name                       = "seo-web-artifacts"
create_s3_bucket                     = true
enable_codepipeline                  = false
codepipeline_name                    = "seo-web-pipeline"
codepipeline_role_name               = "seo-web-codepipeline-role"
codepipeline_source_object_key       = "artifacts/seo-web.zip"
codepipeline_poll_for_source_changes = false
codedeploy_application_name          = "seo-web"
codedeploy_deployment_group_name     = "seo-web-production"
codedeploy_service_role_name         = "seo-web-codedeploy-role"
codedeploy_deployment_config_name    = "CodeDeployDefault.OneAtATime"
codedeploy_target_tag_key            = "Name"
codedeploy_target_tag_value          = "seo-web-production"
codedeploy_target_tag_type           = "KEY_AND_VALUE"
enable_ec2                           = false
ec2_instance_name                    = "seo-web-production"
ec2_ami_id                           = "ami-xxxxxxxxxxxxxxxxx"
ec2_instance_type                    = "t3.micro"
ec2_subnet_id                        = "subnet-xxxxxxxx"
ec2_vpc_security_group_ids           = ["sg-xxxxxxxx"]
ec2_associate_public_ip_address      = true
ec2_key_name                         = null
ec2_iam_instance_profile             = null
ec2_user_data                        = null
ec2_root_volume_size                 = 20
ec2_root_volume_type                 = "gp3"
